$bg-color:rgb(20, 25, 30);
$second-color: rgb(18, 24, 31);
$third-color : rgb(27, 33, 39);
$border-color : #919090;


*{
    font-family:  "Libre Franklin";
    color:white;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin : 0;
    padding :0;
}


.bottom-border{
    border-bottom: 0.0625rem solid rgb(60,60,60);
}

.fadeIn-1{
    animation : fI1 800ms forwards;
}

body {
    background-color: $bg-color!important;
}

@keyframes fI1 {
    0%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap')

