<div class="container-fluid my-5 py-5">
    <div class="container">
        <h2 class="title mb-2">{{"ABOUT.Desc_t" | translate }}</h2>
        <div class="text mb-5">
            {{"ABOUT.Desc_content" | translate}}
        </div>

        <h2 class="title mb-2">{{"ABOUT.Feat_t" | translate }}</h2>
        <div class="text mb-5" [innerHTML]="'ABOUT.Feat_content' | translate">
        </div>
        <h2 class="title mb-2">{{"ABOUT.Tools_t" | translate }}</h2>
        <div class="text mb-5" [innerHTML]="'ABOUT.Tools_content' | translate">
        </div>
    </div>
</div>