.footer{
    padding-top: 5px;
    border-top : 0.0625rem solid grey;
    height: 80px;
}

.logo-footer{
    max-width: 30px;
    height:auto;
    margin-right: 4px;
    
}
*{
    background-color: rgb(20, 25, 30);
}