.header-block{
    
    height:fit-content;
    top:0;
}



.logo {
    max-width: 50px;
    height: auto;
    padding: auto 40px;
}

.title{
    font-weight: 700;
    font-size: 15px;
    color:white;
}

*{
    background-color: rgb(20, 25, 30);
}